.DS_Store
.build/
DerivedData/
*.xcuserstate
xcuserdata/
.swiftpm/
.claude/

# App de ejemplo generada
SimCamSample/SimCamSample.xcodeproj/
SimCamInject/SimCamInject.xcodeproj/
SimCamInject/.build-xcode/
